<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CredentialManagement" version="1.0.2" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.0.1044" targetFramework="net461" />
  <package id="NLog" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>